# Worksheet 2C - The Range Function
This worksheet corresponds to *Lesson 2C: The Range Function* in the online course. Refer to that lesson as necessary to complete the practice activities here.

## Practice 1 
Create a script that uses the `range` function and displays the square (x<sup>2</sup>) of each number between 1 and 20.

In [3]:
for i in range(1,21):
    #print(i)
    print(i**2)

1
4
9
16
25
36
49
64
81
100
121
144
169
196
225
256
289
324
361
400

## Practice 2
Create a Python script that uses the `range` function to display all the even numbers between 0 and 100, inclusive.

In [4]:
for i in range(101):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

## Practice 3
Use the same logic from Example 3 to iterate through a tuple. 

The box below includes the original code from Example 3. Modify it to use a tuple instead of a list.

In [5]:
info = ("John","Smith","123 East Main Street","Boston","Junior Software Developer")

for i in range(len(info)):
    print(info[i])

John
Smith
123 East Main Street
Boston
Junior Software Developer

## Practice 4
Display the string backwards.

In [9]:
message = "Hello, World!" 
reverse=''
for i in range(len(message)-1,-1,-1):
    reverse+=message[i]
print(reverse)

!dlroW ,olleH

## Practice 5
Display a list of numbers that includes all integers between 0 and 100 that are evenly divisible by 3.

In [10]:
for i in range(101):
    if i%3==0:
        print(i)

0
3
6
9
12
15
18
21
24
27
30
33
36
39
42
45
48
51
54
57
60
63
66
69
72
75
78
81
84
87
90
93
96
99